---
layout: gulp-default
---
 
	<ul class="content-list">
		   {% for post in site.posts %}
		   		{% for tags in post.tags %}
			  		{% if tags == 'gulp' %} 
				  		<li class="list-box">	
				  			<div class="pageImg" style="background-image: url({{ post.pageImgurl }})" title="{{ post.title }}"  ></div>
				  			<a href="javascript:void(0);" data-href="{{ site.baseurl }}{{ post.url }}">
					  			<span class="list-box-title">
					  				<p class="p1">{{ post.title }}</p> 
					  			</span>
					  		</a>
				  		</li>
					{% endif %}
				{% endfor %}
		       
		   {% endfor %}
		</ul> 
		 