body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Noto Sans CJK SC", "Source Han Sans CN", Arial, 'Microsoft Yahei', sans-serif;
	z-index: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p,h1 {
	margin: 0;
	color:#333;
}
 
.index-h1 {
	font-size: 6em;
	text-align: center;
	margin-top: 3em;
	color: #644137;
	opacity: .6;
	font-family: cursive;
	text-shadow: 1px 1px 5px #000;
	z-index: -1;
}
.index-header>p {
	margin-left: 10px;
	display: inline-block;
	color: #eee;
	text-shadow: 1px 1px 3px #000;
}
.index-left-nav {
	position: absolute;
	overflow: hidden;
	z-index: 1;
	left: 0;
	top: 0;
    padding: 90px 35px 35px;
    width: 300px;
	bottom: 0;
	border-radius: 50%;
	transform: translate(-200px, 0px);
	-moz-transform: translate(-200px, 0px);
	-webkit-transform: translate(-200px, 0px);
	-o-transform: translate(-200px, 0px);
	transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-moz-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-webkit-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-o-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
}
.index-left-nav.active {
	left: 0;
	bottom: 0;
	border-radius: 0;
	background: #48546a;
	box-shadow: 0 0 1em #000000;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-webkit-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-moz-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-o-transition: all .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
}
.navBtn {
	position: fixed;
	top: 25px;
	left: 30px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 999;
	transition: transform .45s;
	-webkit-transition: -webkit-transform .45s;
	-moz-transition: -moz-transform .45s;
	-o-transition: -o-transform .45s;
}
.navBtn.active {
	transform: scale(0.7) translate(-5px, 0px);
	-moz-transform: scale(0.7) translate(-5px, 0px);
	-webkit-transform: scale(0.7) translate(-5px, 0px);
	-o-transform: scale(0.7) translate(-5px, 0px);
}
.navBtn>span, .navBtn>span:after, .navBtn>span:before {
	position: absolute;
	top: 16px;
	width: 40px;
	height: 6px;
	background: #d8d8d8;
	border-radius: 3px;
}
.navBtn:hover>span, .navBtn:hover>span:after, .navBtn:hover>span:before {
	background: #f3f3f3;
}
.navBtn>span:after {
	content: '';
	top: 12px;
}
.navBtn>span:before {
	content: '';
	top: -12px;
}
.navBtn>span:after, .navBtn>span:before {
	transition: transform .2s, top .2s .2s;
	-moz-transition: -moz-transform .2s, top .2s .2s;
	-webkit-transition: -webkit-transform .2s, top .2s .2s;
	-o-transition: -o-transform .2s, top .2s .2s;
}
.navBtn.active>span {
	background: transparent;
}
.navBtn.active>span:after, .navBtn.active>span:before {
	top: 0px;
	transition: transform .2s, top .2s .2s;
	-moz-transition: -moz-transform .2s, top .2s .2s;
	-webkit-transition: -webkit-transform .2s, top .2s .2s;
	-o-transition: -o-transform .2s, top .2s .2s;
}
.navBtn.active>span:after {
	transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
}
.navBtn.active>span:before {
	transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
}
.index-user {
}
.index-user-img {
}
.navList {
	display: none;
	border-top: 1px solid #768296;
	padding: 10px 0px;
}
.nav-list {
	z-index: 1;
	position: relative;
	display: inline-block;
	width: 100%;
	color: #d8d8d8;
	text-decoration: none;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000;
	transition: color, padding .15s;
	-moz-transition: color, padding .15s;
	-webkit-transition: color, padding .15s;
	-o-transition: color, padding .15s;
}
.nav-list.active, .nav-list:hover {
	color: #ffffff;
    background: #5e646d;
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.46), 0 1px 0 rgba(255, 255, 255, 0.31), 0 -1px 0 rgba(0, 0, 0, 0.32);
    padding: 0px 10px;
    border-radius: 3px;
}
.hover-text {
	z-index: -1;
	font-size: 3em;
	position: absolute;
	right: -5px;
	transform: rotate(-5deg);
	color: #454950;
	text-shadow: 0px 0px 0px;
	font-weight: bold;
}
.nav-list.css {
}
.nav-list.canvas {
}
.nav-list.js {
}
.nav-list.nodeJs {
}
.nav-list.gulp {
}
.nav-list.requireJs {
}
.nav-list.other {
}
.nav-list.other {
}
.index-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	bottom: 0;
	background: url(//ocifiuhrn.bkt.clouddn.com/index-bg.jpg) no-repeat center center;
	background-size: cover;
	z-index: -1;
}
.index-body-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -moz-radial-gradient(circle, transparent, transparent, rgba(0, 0, 0, 0.3));
	background: -webkit-radial-gradient(circle, transparent, transparent, rgba(0, 0, 0, 0.3));
	background: radial-gradient(circle, transparent, transparent, rgba(0, 0, 0, 0.3));
	filter: alpha(opacity=0 finishopacity=50 style=2 startx=0, starty=0, finishx=0, finishy=150)  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}
.index-content-list {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 300px;
	z-index: 1;
	top: 0;
	box-shadow: 1px 0px 6px #777;
	border-right: 1px solid #b9b9b9;
	background: rgba(255, 255, 255, 0.85);
	transform: translate(-150%, 0px);
	-moz-transform: translate(-150%, 0px);
	-webkit-transform: translate(-150%, 0px);
	-o-transform: translate(-150%, 0px);
	transition: transform .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-moz-transition: -moz-transform .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-webkit-transition: -webkit-transform .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
	-o-transition: -o-transform .45s cubic-bezier(0.49, 0.83, 0.45, 1.01);
}
.index-content-list.active {
	transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
}
.content-list {
    color: #333; 
}

.list-box {
}
.list-box > a {
}
.index-iframe{
	display:none;
	width: 100%;
    height: 100%;
    border: none;
}
.index-iframe.open{
	display:block;
}
.mask{
	opacity: 0;
	visibility: hidden;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ddd;
    z-index: 9999;
    transition: all .45s ease-in-out;
	-moz-transition: all .45s ease-in-out;
	-webkit-transition: all .45s ease-in-out;
	-o-transition: all .45s ease-in-out;
}
.mask.active{
	opacity: .9;
	visibility: visible;
}
.rotate-mask {
    display: block;
    font-size: 0;
    color: #fff;
}
.rotate-mask>div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-color: #90432f;
    border-width: 4px;
    border-radius: 100%;
    -webkit-animation: rotate-mask 1.5s ease-in-out infinite;
    -moz-animation: rotate-mask 1.5s ease-in-out infinite;
    -o-animation: rotate-mask 1.5s ease-in-out infinite;
    animation: rotate-mask 1.5s ease-in-out infinite;
}
.rotate-mask>div:first-child {
    position: absolute;
    width: 60px;
    height: 60px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.rotate-mask>div:last-child {
    width: 30px;
    height: 30px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.shadow {
	position: absolute;
	width: 550px;
	height: 550px;
}
.top-left {
	top: 0;
	left: 0;
	transform: rotate(45deg) translate(-388px, 0px);
	-ms-transform: rotate(45deg) translate(-388px, 0px);
	-moz-transform: rotate(45deg) translate(-388px, 0px);
	-webkit-transform: rotate(45deg) translate(-388px, 0px);
	-o-transform: rotate(45deg) translate(-388px, 0px);
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */
}
.top-right {
	top: 0;
	right: 0;
	transform: rotate(45deg) translate(0px, -388px);
	-ms-transform: rotate(45deg) translate(0px, -388px);
	-moz-transform: rotate(45deg) translate(0px, -388px);
	-webkit-transform: rotate(45deg) translate(0px, -388px);
	-o-transform: rotate(45deg) translate(0px, -388px);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}
.bottom-right {
	bottom: 0;
	right: 0;
	transform: rotate(45deg) translate(388px, 0px);
	-ms-transform: rotate(135deg) translate(0px, -388px);
	-moz-transform: rotate(45deg) translate(388px, 0px);
	-webkit-transform: rotate(45deg) translate(388px, 0px);
	-o-transform: rotate(45deg) translate(388px, 0px);
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}
.bottom-left {
	bottom: 0;
	left: 0;
	transform: rotate(45deg) translate(0px, 388px);
	-ms-transform: rotate(-135deg) translate(0px, -388px);
	-moz-transform: rotate(45deg) translate(0px, 388px);
	-webkit-transform: rotate(45deg) translate(0px, 388px);
	-o-transform: rotate(45deg) translate(0px, 388px);
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}


@-webkit-keyframes rotate-mask {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@-moz-keyframes rotate-mask {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg)
    }

    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@-o-keyframes rotate-mask {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg)
    }

    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes rotate-mask {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg)
    }

    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg)
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg)
    }
}